body{
    margin: 0px;
    padding: 0px;
    background-color: #F2F2F2;
    box-sizing: border-box;

}
#nav{
    width: 100%;
    height: 80px;
    background-color: white;
}
.conatiner_logo img{
    width: 500px;
    height: 60px;
    margin: 10px 0 0 5px;
    
    
}
#main{
    display:grid ;
     padding: 2% 8%;
   
   
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    ". . a a a . b b b b b .";
}

.container2 h2{
  
   
    margin-top: 0px;
}


.container{
    grid-area: a;
    width: 460px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border: 1px solid black; */
    background-color: white;
    /* background-color: blue; */
    display: block;
   
}
.container2{
    width: 100%;
    margin-top: 49px;
    background-color: white;
    grid-area: b;
    height: 20vh;
    padding: 30px;
    
}

.container_reg{
    width: 100%;
    height: 600px;
    
    
   
}
.container_reg>.reg_box{
    width: 400px;
    height: 600px;
    margin-left: 15%;
}
 #email,#password{
    margin: 20px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 3px;
    margin-left: 20px;
    
}
label{
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 25px;
    font-weight: bold;
    color: #2E3337;
}
p{
    font-size: 18px;
    margin-left: 20px;
}
a{
    color:#2E3337;
    font-weight: bold;
}

a{
    margin-left: 20px;
    font-family: sans-serif;
    font-weight: lighter;
}


#button{
   display: block;
   width: 90%;
    height: 40px;
    font-size: 16px;
    border: 0;
    color: white;
    font-weight: 700;
    background-color: #2E3337;
    margin: 20px 0px 0 20px;
    
}
#button:hover{
    cursor: pointer;
    color: black;
    background-color: turquoise;
  
}
#socialconnect{
    width: 450px;
    height: 50px;
    display: flex;
    margin: auto;
    padding: 20px;
  
  
  
   
    }
   
    #button1{
        display: block;
          width: 100%;
         height: 40px;
         font-size: 16px;
         border: 0;
         color: white;
         font-weight: 700;
         background-color: #2E3337;
        
         
     }
     #button1:hover{
         cursor: pointer;
         color: black;
         background-color: turquoise;
       
     }

    .login_box h2{
         /* background-color: coral; */
        margin: 30px 25px;
    } 
    .facebook{
        display: flex;
        border: 1px solid gray;
        padding: 5px 6%;
    }
    .google{
        display: flex;
        border: 1px solid gray;
        padding: 5px 8%;
        margin: 0px 10px 0px 12%;
    }
    

    .facebook img{
    width: 40px;
    display: inline-block;
  
    }
    #gg{
        /* background-color: cornflowerblue; */
        display: inline-block;
        padding: 13px 5px 0px;
        font-weight: 900;
        color: gray;
    }

    #ff{
        /* background-color: cornflowerblue; */
        display: inline-block;
        padding: 13px 5px 0px;
        font-weight: 900;
        color: gray;
       
    }
  
    @media only screen and (min-width:0px) and (max-width:950px){
        #main{
            display:grid ;
         
            grid-template-areas: 
            ". . a a a a a a a a . ."
            ". . b b b b b b b . . .";
        }
      }

     .login_box> div >small{
                color: red;
                position: absolute;
                bottom: 0;
                left: 0;
                visibility: visible;
      }