@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato, regular;
}

.top {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgb(233, 231, 231);

}

.top p {
    margin-right: 8%;
    font-family: lato;
}

#head {
    height: 15vh;
    border-bottom: solid 3px black;
}

#head>h1 {
    font-size: 3.4rem;
    margin-left: 6rem;
    ;
}

#head>div>p {
    font-size: 1.1rem;
    margin-left: 6rem;
}



#content {
    width: 50vw;
    /* height: 482vh; */
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 20px;
}

#content>h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 4rem;
}

.cards {
    height: 22rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.immg {
    width: 35%;
    margin-right: 1rem;
}

.immg>img {
    margin-top: 2.5rem;
    width: 100%;
    height: 75%;
    ;
}

.cont {
    width: 60%;
    margin-bottom: 10px;
}

.cont>h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

